@using liber.Models

@{
    ViewBag.Title = "IndexUsuario";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<head>
    <style>

        .estrellas2 {
        width:13%;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


 

        <section id="slider">
                <!--slider-->


    <div id="slider-carousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
                                    @{
                                        var activo = "active";
                                  var cont = 0;
                                        foreach (Banners UnBanner in ViewBag.listBanner)
                                        {
                                            <li data-target="#slider-carousel" data-slide-to="@cont"
                                                @if (activo == "active") { @: class="Active"
                                                                                            activo = ""; }>
                                            </li>

                                            cont++;
                                        }
                                    }
                                </ol>

                                <div class="carousel-inner">
                                    @{
                                        activo = "active";
                                        cont = 1;
                                        foreach (Banners UnBanner in ViewBag.listBanner)
                                        {
                                            <div class="item @activo">
                                                <div class="col-sm-6">
                                                    <img src="@Url.Content("~/Content/Admintemp/banner/")@UnBanner.Imagen" id="img@cont" class="ImagenSlide" alt="" />
                                                </div>
                                                @{
                                                    cont++;
                                                    activo = "";
                                                }
                                            </div>
                                        }
                                    }

                                </div>

    </div>



                <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("item");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 2 seconds
    }
                </script>



            </section><!--/slider-->  

        <section id="libros">
            @*Lista de libros que contenga una minilista con detalles del libro*@
           <h3></h3>
            <table>



                @{
                    <tr class="fila">

                        @foreach (Libros libros in (ViewBag.listLibro))
                        {

                            <td>
                                <ul>
                                    <li>
                                        <img src="@Url.Content("~/Content/Usuariotemp/images/libros/")@libros.imagen" height="200" width="150" />
                                    </li>
                                    <li> @libros.titulo          </li>
                                    <li> @libros.autor           </li>
                                    <li>
                                        @switch (libros.puntacion.ToString())
                                        {
                                            case "1":

                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />


                                                break;

                                            case "2":

                                                <img class="estrellas2" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas2" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas2" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas2" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas2" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />


                                                break;

                                            case "3":

                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />

                                                break;
                                            case "4":

                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellablanca.png" />


                                                break;
                                            case "5":

                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />
                                                <img class="estrellas" src="@Url.Content("~/Content/Usuariotemp/images/libros/")estrellacolor.png" />


                                                break;
                                        }
                                    </li>


                                </ul>


                            </td>





                        }


                    </tr>

                }
            </table>
        </section>


</body>
