
@{
    ViewBag.Title = "MiCuenta";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<ul id="MenuUser">    
    <li><a class="OpcionesUser" href="@Url.Action("MiBiblioteca","Usuario")">Mi Bibiloteca</a></li>
    <li><a class="OpcionesUser" href="@Url.Action("MisLibros","Usuario")">Mis libros pendientes</a></li>
    <li><a class="OpcionesUser" href="@Url.Action("MisEventos","Usuario")">Mis Eventos</a></li>
    <li><a class="OpcionesUser" href="@Url.Action("MisTrivias","Usuario")">Mis Trivias</a></li>
    <li><a class="OpcionesUser" href="@Url.Action("ActualizarDatos","Usuario")">Actualizar datos</a></li>
    <li><a class="OpcionesUser" href="@Url.Action("CerrarSesion","Usuario")">Cerrar Sesión</a></li>
</ul>

<div class="Opcion">

    <h3>Está leyendo @ViewBag.cantleido libros</h3>
    <h3>Tiene @ViewBag.cantguardado libros en su biblioteca</h3>
    <h3>Asistirá a @ViewBag.canteventos eventos</h3>
</div>