@using liber.Models
@model Libros

@{
    ViewBag.Title = "Vermas";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div @*style="height: 400px; overflow: auto;*@ ">
    <h2> @ViewBag.titulo </h2>
    <table>
        <tr>
            @foreach (Libros libros in (ViewBag.libros))
            {
                <td>
                    <ul>
                        <li>
                            <a href="@Url.Action("DetallesLibro", "Libro", new {titulolibro=@libros.titulo})">
                                <img src="@Url.Content("~/Content/Usuariotemp/images/libros/")@libros.imagen" height="200" width="150" />
                            </a>
                        </li>
                        <li> @libros.titulo          </li>
                        <li> @libros.autor           </li>
                        <li>

                    </ul>
                </td>
            }
        </tr>
    </table>
</div>
