@using liber.Models
@model Usuarios
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_mytemplatepagprincipal.cshtml";
}



<HTML>
<HEAD>
    
    <style>
        body {
        
        background: #fdcc52;       
        position: relative;
        background-position: center;
        }
        .Etiqueta {
        text-align:center;
        }
        
       
        
    </style>
</HEAD>

<body>
    <form  action="@Url.Action("Registrar", "Home")" method="post">
        <header class="masthead">

            <h3 class="Etiqueta">Registración</h3>
            <h5 class="Etiqueta"><b>Todos los campos son obligatorios</b></h5>
            </header>
            <div>
                
                    <div id="textos">
                       
                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas">Nombre</label>@Html.ValidationMessageFor(x => x.nombre, null, new { @class = "validaciones" })
                        </div>
                        @Html.TextBoxFor(x => x.nombre, new { @class = "texto", placeholder = "Ingrese nombre" })
                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas">Apellido</label>@Html.ValidationMessageFor(x => x.apellido, null, new { @class = "validaciones" })
                         </div>
                            @Html.TextBoxFor(x => x.apellido, new { @class = "texto", placeholder = "Ingrese apellido" })


                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas">Usuario</label>@Html.ValidationMessageFor(x => x.user, null, new { @class = "validaciones" })
                            </div>
                            @Html.TextBoxFor(x => x.user, new { @class = "texto", placeholder = "Ingrese usuario" })

                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas">Contraseña</label>@Html.ValidationMessageFor(x => x.contraseña, null, new { @class = "validaciones" })
                         </div>
                            @Html.TextBoxFor(x => x.contraseña, new { @class = "texto", placeholder = "Ingrese contraseña", type = "password" })

                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas">Confirmación de la contraseña</label>@Html.ValidationMessageFor(x => x.confirmaciondecontraseña, null, new { @class = "validaciones" })
                         </div>
                            @Html.TextBoxFor(x => x.confirmaciondecontraseña, new { @class = "texto", placeholder = "Ingrese contraseña", type = "password" })
                        <div class="EtiquetasValidaciones">
                            <label class="etiquetas" for="email">Email </label>@Html.ValidationMessageFor(x => x.email, null, new { @class = "validaciones" })
                            </div>
                            @Html.TextBoxFor(x => x.email, new { type = "email", @class = "texto", placeholder = "Ingrese email" })
                        </div>
                  
               
                   <br/> <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">Estoy de acuerdo con los términos y condiciones</label>
               
                   <br /><button type="submit" onclick="onsave()">Registrarse</button>

            </div>
</form>
    </BODY>
</HTML>