@using liber.Models
@model Comentarios

@{
    ViewBag.Title = "DetallesLibro";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <style>
fieldset, label { margin: 0; padding: 0; }

h1 { font-size: 1.5em; margin: 10px; }

   
    .Elegido{
        background-color:red;
    }  
    
      
     </style>

</head>

   <body>
    <h2 id="h2">@ViewBag.titulo</h2>
       <div id="fb-root"></div>
      

       <div id="Contenedor">
           <div id="Portada">
               <img id="imagen" src="@Url.Content("~/Content/Usuariotemp/images/libros/")/@ViewBag.imagen" />
           </div>

           <div id="Detalles">
               <div>
                   <h4>autor: @ViewBag.autor</h4>
                   <h4>genero:@ViewBag.genero</h4>
                   <h4>sinopsis: @ViewBag.sinopsis</h4>

               </div>
               <div>

                   @* DEBO AGREGAR EL CASO EN QUE NO LO SEA *@
                   @{  if (ViewBag.Leido == "true")
                       { <form>
                       <button>
                           @Html.ActionLink("Guardar Leido", "Opciones", "Libro", new { opcion = "leidoseleccionado" }, new { @class = "Elegido" })
                       </button>
                   </form>
                       }
                       else
                       {
                           <form>
                               <button>
                                   @Html.ActionLink("Leido", "Opciones", "Libro", new { opcion = "leido" }, null)
                               </button>
                           </form>
                       }
                       if (ViewBag.Guardado == "true")
                       {
                           <button>
                               @Html.ActionLink("Guardar en mi bibloteca", "Opciones", "Libro", new { opcion = "biblotecaseleccionado" }, new { @class = "Elegido" });
                           </button>  }
                       else
                       {
                           <button>
                               @Html.ActionLink("Guardar en mi bibloteca", "Opciones", "Libro", new { opcion = "bibloteca" }, null)
                           </button>
                       }
                   }

               </div>
               <div>

                   @using (@Html.BeginForm("Calificar", "Libro", FormMethod.Post))
                   {
                       Comentarios comen = new Comentarios();
                       comen.puntuacionusuario = ViewBag.puntuacion;
                       int h = Convert.ToInt32(comen.puntuacionusuario);

                       switch (h)
                       {
                           case 1:
                               <fieldset class="rating" id="h">

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "5", @id = "star5", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star5" name="rating" value="5" />*@<label class="full" for="star5" title="Awesome - 5 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "4", @id = "star4", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star4" name="rating" value="4" />*@<label class="full" for="star4" title="Pretty good - 4 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "3", @id = "star3", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star3" name="rating" value="3" />*@<label class="full" for="star3" title="Meh - 3 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "2", @id = "star2", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star2" name="rating" value="2" />*@<label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "1", @id = "star1", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star1" name="rating" value="1" />*@<label class="notfull" for="star1" title="Sucks big time - 1 star"></label>

                               </fieldset>
                               break;
                           case 2:
                               <fieldset class="rating" id="h">

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "5", @id = "star5", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star5" name="rating" value="5" />*@<label class="full" for="star5" title="Awesome - 5 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "4", @id = "star4", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star4" name="rating" value="4" />*@<label class="full" for="star4" title="Pretty good - 4 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "3", @id = "star3", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star3" name="rating" value="3" />*@<label class="full" for="star3" title="Meh - 3 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "2", @id = "star2", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star2" name="rating" value="2" />*@<label class="notfull" for="star2" title="Kinda bad - 2 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "1", @id = "star1", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star1" name="rating" value="1" />*@<label class="notfull" for="star1" title="Sucks big time - 1 star"></label>

                               </fieldset>
                               break;
                           case 3:
                               <fieldset class="rating" id="h">

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "5", @id = "star5", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star5" name="rating" value="5" />*@<label class="full" for="star5" title="Awesome - 5 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "4", @id = "star4", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star4" name="rating" value="4" />*@<label class="full" for="star4" title="Pretty good - 4 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "3", @id = "star3", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star3" name="rating" value="3" />*@<label class="notfull" for="star3" title="Meh - 3 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "2", @id = "star2", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star2" name="rating" value="2" />*@<label class="notfull" for="star2" title="Kinda bad - 2 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "1", @id = "star1", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star1" name="rating" value="1" />*@<label class="notfull" for="star1" title="Sucks big time - 1 star"></label>

                               </fieldset>
                               break;
                           case 4:
                               <fieldset class="rating" id="h">

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "5", @id = "star5", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star5" name="rating" value="5" />*@<label class="full" for="star5" title="Awesome - 5 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "4", @id = "star4", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star4" name="rating" value="4" />*@<label class="notfull" for="star4" title="Pretty good - 4 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "3", @id = "star3", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star3" name="rating" value="3" />*@<label class="notfull" for="star3" title="Meh - 3 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "2", @id = "star2", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star2" name="rating" value="2" />*@<label class="notfull" for="star2" title="Kinda bad - 2 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "1", @id = "star1", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star1" name="rating" value="1" />*@<label class="notfull" for="star1" title="Sucks big time - 1 star"></label>

                               </fieldset>
                               break;
                           case 5:
                               <fieldset class="rating" id="h">

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "5", @id = "star5", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star5" name="rating" value="5" />*@<label class="notfull" for="star5" title="Awesome - 5 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "4", @id = "star4", Type = "radio", @name = "rating2" })
                                   @*<input type="radio" id="star4" name="rating" value="4" />*@<label class="notfull" for="star4" title="Pretty good - 4 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "3", @id = "star3", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star3" name="rating" value="3" />*@<label class="notfull" for="star3" title="Meh - 3 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "2", @id = "star2", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star2" name="rating" value="2" />*@<label class="notfull" for="star2" title="Kinda bad - 2 stars"></label>

                                   @Html.TextBoxFor(x => x.puntuacionusuario, new { @Value = "1", @id = "star1", Type = "radio", @name = "rating" })
                                   @*<input type="radio" id="star1" name="rating" value="1" />*@<label class="notfull" for="star1" title="Sucks big time - 1 star"></label>

                               </fieldset>
                               break;

                       }

                       <input type="submit" value="Enviar" />
                   }

               </div>

           </div>
       </div>
       <div id="BotonesRedes">
           <a href=https://facebook.com/sharer.php?u={URL} target="_blank"> 
               <img class="Redes" src="~/Content/facebook.svg" /> </a>
           <a href=https://twitter.com/intent/tweet?url ={URL}&text ={Title}&via ={UserName}&hashtags ={HashTags} target="_blank"> 
               <img class="Redes" src="~/Content/twitter.svg" />  </a>
           <a href=https://plus.google.com/share?url ={URL} target="_blank">

               <img class="Redes" src="~/Content/google.jpg" />    </a>

       </div>
               <div id="Comentarios">
                   @{
                       foreach (Comentarios comen in (ViewBag.lista))
                       {
                           <ul>
                               <li> @comen.Usuario</li>
                               <li> @comen.Comentario @Html.ActionLink("Eliminar Comentario", "EliminarComentario", "Libro", new { id = comen.idComentario}, null)</li>
                           </ul>
                       }
                   }
                   @using (@Html.BeginForm("DetallesLibro", "Libro", FormMethod.Post))
                   {
                       @Html.HiddenFor(x => x.Libro, new { id = @ViewBag.titulo })
                       @Html.TextBoxFor(x => x.Comentario, new { Value = "", @class = "texto", placeholder = "Ingrese su comentario" })
                       
                       <input type="submit" value="Enviar" />
                   }
               </div>
          
       
</body>