@using liber.Models
@model Libros
@{
    ViewBag.Title = "ListadoLibroNoEncontrado";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <style>  
     .contenido{
        display:flex;
    }
        img {
    border: 0;
    width: 145px;
    height: 235px;
    margin-left: 10%;
        }

        .Titulo {
        font-family:'Bell MT';
        font-size:30px;
        text-align:center;
        }
        #Genero1{
            border-bottom: 3px solid #afafaf;
        }
        .imagenes {
        margin-left:10%;
        }
    </style>
 
</head>
<div>
    <h2>No hemos podido encontrar "@ViewBag.ingresado"</h2>
    
</div>

    @* Genero 1 *@
   
       <div id="Genero1">

           <div class="Titulo">
               <a>@Html.ActionLink("Género", "Vermas", "Libro", new { vermas = "Genero1" }, null)</a>
           </div>


                   <div class="contenido">
                        @{foreach (Libros libro in (ViewBag.genero1))
                            {



                                <a  class="imagenes"href="@Url.Action("DetallesLibro", "Libro", new {titulolibro=@libro.titulo})">
                                    <img src="@Url.Content("~/Content/Usuariotemp/images/libros/")@libro.imagen" height="200" width="150" />
                                </a>
                                                <!--lo que ve el usuario/view/controller/parametro-->




                                }
                            }

            </div>
</div>

  

    @* Mejor puntuado *@
    <div id="Mejor">

            <div class="Titulo">
                <a>@Html.ActionLink("Mejor puntuado", "Vermas", "Libro", new { vermas = "Mejor" }, null)</a>
            </div>
          

        <div class="Contenido">
            @{foreach (Libros libro in (ViewBag.mejor))
                {
                    <a class="imagenes" href="@Url.Action("DetallesLibro", "Libro", new {titulolibro=@libro.titulo})">
                        <img src="@Url.Content("~/Content/Usuariotemp/images/libros/")@libro.imagen" height="200" width="150" />
                    </a>

                            <!--lo que ve el usuario/view/controller/parametro-->
                }


            }
        </div>

          </div>
    @* Genero 2*@
    <div id="Genero2">
        <div class="Titulo">
            <a>@Html.ActionLink("Género2", "Vermas", "Libro", new { vermas = "Genero2" }, null)</a>
        </div>
         

        <div class="Contenido">
            @{foreach (Libros libro in (ViewBag.genero2))
                {
                    <a class="imagenes" href="@Url.Action("DetallesLibro", "Libro", new {titulolibro=@libro.titulo})">
                        <img src="@Url.Content("~/Content/Usuariotemp/images/libros/")@libro.imagen" height="200" width="150" />
                    </a>


                }


            }
        </div>




</div>

