<!DOCTYPE html>
@using liber.Models

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   @* Conectores del search *@
    <link href="~/Content/Usuariotemp/css/buscar.css" rel="stylesheet" />
    <link href="~/Content/Usuariotemp/css/demobuscar.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    
    <script>document.documentElement.className = 'js';</script>
    @* Conectores del theme *@
    <link href="@Url.Content("~/Content/Usuariotemp/")css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/prettyPhoto.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/price-range.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/animate.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/main.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Usuariotemp/")css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Usuariotemp/")css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Usuariotemp/")css/common.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Usuariotemp/")css/style2.css" />

   

</head>
<body>

    <header id="header">
        <!--header-->
        <div class="header_top">
                      <ul id="Menu">
                        <li class="Menu" ><a id="Eventos" href="#contact">Eventos</a></li>
                        <li class="Menu"><a id="Trivias" class="active" href="#home">Trivias</a></li>
                        <li><a href="#news">
                        @*<img id="logonav" src="imagenes/Valparaiso.png"/>*@
                        </a></li>
                        <li class="Menu" ><a id="Explorar" href="#contact">Explorar</a></li>
                        <li class="Menu"> <a id="Micuenta" href="#about">Mi cuenta</a></li>
                     </ul>
                 
     
        
        </div>
    @* SEARCH *@
        <div id="Search" onKeyPress="return myFunction(event)">

            <form action="@Url.Action("search", "Usuario")" method="post" id="form01">
                @{   Libros libro = new Libros();
                    @Html.TextBoxFor(x => libro.ingresado, new { @class = "search__input", placeholder = "Buscar"})

                }
            </form>
            @Scripts.Render("~/bundles/jquery")
            <script>

           //Press enter
                function myFunction(e) {
                    //                ^^^^^^^^^^^  <<<<--------------------------------
               if((e && e.keyCode == 13) || e == 0) {
                document.forms.form01.submit();
                 document.forms.form01.fname.value = ""; // could be form01.reset as well
               }
                }
           //Random color background search
                $(document).ready(function () {
                    //                ^^^^^^^^^^^  <<<<--------------------------------
                    var colors = ["#eb6e80", "#008f95", "#e98000", "#e24e42"];
                    var rand = Math.floor(Math.random() * colors.length);
                    $('#Search').css("background-color", colors[rand]);

                });
            </script>
            @RenderSection("scripts", required: false)
        </div>



        

    </header><!--/header-->
    @* java del search *@
    <script src="~/Content/Usuariotemp/js/demo9.js"></script>
    @* java del theme *@
    <script src="@Url.Content("~/Content/Usuariotemp/")js/jquery.js"></script>
    <script src="@Url.Content("~/Content/Usuariotemp/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/Usuariotemp/")js/jquery.scrollUp.min.js"></script>
    <script src="@Url.Content("~/Content/Usuariotemp/")js/price-range.js"></script>
    <script src="@Url.Content("~/Content/Usuariotemp/")js/jquery.prettyPhoto.js"></script>
    <script src="@Url.Content("~/Content/Usuariotemp/")js/main.js"></script>
   
    <div>
        @RenderBody()
    </div>

</body>
</html>
